body {
  background-color: #ecca96;font-family:Courier New, monospace;
  background-image:url(./background/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}